.footer {
  width: 100%;
  height: 107px;
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(91, 93, 75);
  .menuList {
    width: 100%;
    height: 90px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Copyright {
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    font-family: Hind Vadodara;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.44px;
  }
}
