@font-face {
  font-family: Quattrocento;
  src: url(Quattrocento-Regular.ttf);
}
@font-face {
  font-family: "Hind Vadodara";
  src: url(HindVadodara-Medium.ttf);
}
@font-face {
  font-family: Qwigley;
  src: url(Qwigley-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(Inter-Medium.ttf);
}
