@import url(/src/Fonts/_Fonts.scss);

.content {
  width: 100%;
  height: 753px;
  background: #cbccbe;
  display: flex;
  align-items: center;
  justify-content: center;
  .txtDiv {
    width: 452px;
    height: auto;
    margin-right: 306px;
    h1 {
      font-family: Qwigley;
      font-size: 110px;
      font-weight: 100;
      color: #c4813b;
    }
    p {
      font-family: Quattrocento;
      font-size: 20px;
      color: #5d5c1e;
    }
  }
}

@media screen and (max-width: 1880px) {
  .content {
    width: 100%;
    height: auto;
    background: #cbccbe;
    display: flex;
    align-items: center;
    justify-content: center;
    .txtDiv {
      width: 30%;
      height: auto;
      margin-right: 20px;
      h1 {
        font-size: 70px;
      }
    }
    img {
      width: 50%;
    }
  }
}
