.content {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1880px) {
  .content {
    width: 950px;
    flex-wrap: wrap;
  }
}
